version: "3.9"
services:
  # production purpose
  # frontend:
  #   build: ./frontend
  #   command: npm run dev -- --host 0.0.0.0
  #   ports: ["5173:5173"]
  #   volumes: ["./frontend:/app"]
  #   environment:
  #     - VITE_API_BASE=http://localhost:8080
  #   depends_on: [backend]

  # dev purpose
  frontend:
    image: node:20-bullseye
    working_dir: /app
    volumes:
      - ./frontend:/app
    command: bash -lc "npm ci && npm run dev -- --host 0.0.0.0"
    ports: ["5173:5173"]
    environment:
      - VITE_API_BASE=http://localhost:8080 # browser -> host-mapped backend
    depends_on: [backend]

  backend:
    build: ./backend
    command: /app/server
    ports: ["8080:8080"]
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=drive
      - DB_USER=drive
      - DB_PASSWORD=drive
      - S3_ENDPOINT=http://minio:9000
      - S3_BUCKET=drive
      - AWS_ACCESS_KEY_ID=minio
      - AWS_SECRET_ACCESS_KEY=miniosecret
      - S3_FORCE_PATH_STYLE=true
    depends_on: [db, minio]

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: drive
      POSTGRES_USER: drive
      POSTGRES_PASSWORD: drive
    volumes: ["pgdata:/var/lib/postgresql/data"]

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: miniosecret
    ports: ["9000:9000", "9001:9001"]
    volumes: ["miniodata:/data"]

  mc:
    image: minio/mc
    depends_on: [minio]
    entrypoint: >
      /bin/sh -c "
      mc alias set local http://minio:9000 minio miniosecret &&
      mc mb -p local/drive || true && sleep infinity
      "

volumes:
  pgdata:
  miniodata:
